*{
    margin:0;
    padding:0;
}
body{
    text-align:center;
}
h1{
    height :5rem;
    line-height:5rem;
    width:100%;
    background-color:#081b31;
    color:white;    
}
.choice{
    height:160px;
    width:200px; 
    border-radius:50%;
    
}
.choice:hover{
    border:2px solid black;
    cursor:pointer;
}
img{
    height:150px;
    width:150px; 
}
.choices{
    display:flex;
    justify-content:center;
    padding:3rem;
    gap:3rem;
}
.score_board{
    display:flex;
    justify-content:center;
    align-items:center; 
    font-size:2rem;
    padding:3rem;
    gap:5rem;
}
#user_score,#comp_score{
    font-size:4rem;
}
#msg{
    background-color: #081b31;
    color:white;
    line-height:5rem;
    font-size:2rem;
    display:inline;
    padding:1rem;
    border-radius:1rem;
}